# Ignores build files
cmake-build-debug/
cmake-build-release/

# Ignores CLion configuration files
.idea/
*.iml
.vscode/
*.code-workspace

# Ignores logs and temporary files
*.log
*.tmp
*.swp

# Ignores OS-specific files
.DS_Store
Thumbs.db
desktop.ini

# Ignores compiled files
*.o
*.obj
*.so
*.dll
*.exe
*.out